[class*=col-] {
background-color: grey;
box-sizing: border-box;
border: 3px solid white;
} 

.wide>div > img {
	width: 100%;	
	z-index: 1;
	overflow: hidden;   	
}

.tall>div > img {
	height: 100%;	
	z-index: 1;
	overflow: hidden;
}

h2 {
	background-color: grey;
	position: absolute;	
	z-index: 2;
	color: white;
}


.center {
	display: flex;	
	align-content: center;
}
