html {
    font-family: "Cambria";
    background-color: #F9F1DD;
    margin: 0px;
    padding: 0px;    
}



.head { 
    display: flex;
    background-color: #EAC14E;
    height: 100px;    
    justify-content: space-between;

}

.headFons {
    margin-left: 20px;    
    padding: 10px;
    color: darkblue;
}

nav {
    display: flex;  
    padding: 0px;
    justify-content: center;
    flex-direction: row;
}

.fontwhite {
    display: block;    
    background-color: #DA8530;
    margin: 5px 5px 0px 5px; 
    padding: 10px 0px;
    text-align: center; 
    text-decoration: none;
    color: white; 
    height: 40px;
}

.fontwhite:hover {
    color: #985644;
    border-bottom: 1px solid #985644;   
}

.sub-menu {
    display: none;
}

.navButton:hover > .sub-menu {   
    position: absolute;
    display: flex;
    flex-direction: column;    
    background-color: #FAC159;
    text-decoration: none;
    color: white;
    list-style-type: none;
    margin: 0px 5px 5px 5px;      
    padding: 0px 0px;
    justify-content: center;
}

.menuList {      
    padding: 10px 20px;
    text-align: center;
}

.menuList:hover {    
    color: #985644;
    border-bottom: 1px solid #985644;     
}

.width {
    width: 300px;
}

/*MODAL*/

#modalLink {    
    display: flex; 
    align-self: center;
    background-color: #DA8530;    
    padding: 10px 20px;
    text-align: center; 
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

#modalLink:hover {
    color: #985644;
    border: 1px solid #985644;
    margin-right: 10px;
}


#modal {
    display: none;
}

#modal:target {  
    display: flex;
    position: absolute;    
    background-color: rgba(200, 200, 200, 0.7);

}

.allwindow {    
    height: 100%;
    width: 100%;
    background-color: grey;
    justify-content: center;
}

.padding {
    padding: 100px;
}

fieldset {    
    height: 200px;
    width: 200px;
    background-color: floralwhite;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center; 
}

.btnModal {    
    background-color: #DA8530;    
    padding: 7px 15px;
    text-align: center; 
    text-decoration: none;
    color: white;
    margin: 5px;
}

.btnModal:hover {
    color: #985644;
    border: 1px solid #985644;
    margin-right: 10px;
    background-color: floralwhite;    
}

